body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #2d1010;
	font-size: 22px;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	background-image: url('http://i.imgur.com/xX6ZlDC.jpg');
	background-repeat: no-repeat;
	background-position: top-center;
}
h1 {
	font-family: sans-serif;
	font-size: 70px;
	text-align: center;
	color: #ffe001;
}

#question_wrapper {
	text-align: center;
	width: 500px;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 24px;
	padding-top: 150px;

}
#answer_block {
	text-align: left;
	font-size: 18px;
}
